@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azul-escuro: #1A237E;
    --azul-médio: #3949AB;
    --azul-claro: #7986CB;
    --preto: #000000; 
    --cinza-escuro: #424242;
    --branco: #FFFFFF;
    --fonte-titulo: "Roboto", sans-serif;
    --fonte-texto: "Nunito", sans-serif;
}

body {
    font-family: var(--fonte-texto);
    font-weight: bolder;
    color: var(--azul-claro);
    background-color: var(--preto);
}

.img-thumbnail {
    border: 2px solid var(--azul-escuro);
}

h1, h2 {
    font-family: var(--fonte-titulo);
    color: var(--azul-claro);
}

.card {
    color: var(--preto);
    background-color: var(--azul-médio);
}

.btn {
    background-color: var(--azul-escuro);
    color: var(--preto);
}

.btn:hover {
    color: var(--preto);
    background-color: var(--cinza-escuro);
    transition: 0.8s;
}

.footer-link {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--azul-claro);
}
